.list-group-item {
  line-height: 2.5;
}
body {
  background: #333;
  color: #fff;  
}

.navbar {
  border-bottom: #6200b3 3px solid;
  opacity: 0.8;
}

#login-button {
  background-color: #6200b3 !important;
  }

#home-section {
  background: url(/img/book_fantasyimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height:700px;
  background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas, #create-section .fas {
  color: #6200b3;
  background: #6200b3;
  padding: 5px;
  border-radius: 5px;
}

#explore-section .fas, #share-section .fas {
  background: #333333;
  color: #fff;
  padding: 5px; 
  border-radius: 5px;
}
#contact-button {
  background-color: #6200b3 !important;
  }

  /* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

#search-btn {
  background-color: #6200b3;
  color: #fff;
}

#clear-btn {
  background-color: #6200b3;
  color: #fff;
}
#add-search-btn {
  background-color: #6200b3;
  color: #fff;
}